.swiper-pagination {
  bottom: 0 !important;
}
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: var(--ion-color-secondary) !important;
  border-radius: 5px;
}

.swiper-pagination-bullet-active {
  width: 20px;
  height: 6px;
  transition: width 0.5s;
  background: var(--ion-color-primary) !important;
}

.swiper-slide {
    transition: transform 0.5s ease !important;
}

.swiper-slide-active {
    transform: scale(1.06) !important;
  
}
